<div style="background-color:saddlebrown">
  <button (click)="minimumSwaps([1,3,5,2,4,6,7])">Minimum Swaps</button>
  <button (click)="minimumSwaps([4, 3, 1, 2])">Minimum Swaps</button>
  <button (click)="minimumSwaps([2, 3, 4, 1,5])">Minimum Swaps</button>
  <button (click)="minimumSwaps([7,1,3,2,4,5,6])">Minimum Swaps</button>
  <button (click)="minimumSwaps([2 ,31 ,1 ,38 ,29 ,5 ,44 ,6 ,12 ,18 ,39 ,9 ,48 ,49 ,13 ,11 ,7 ,27 ,14 ,33 ,50 ,21 ,46 ,23 ,15 ,26 ,8 ,47 ,40 ,3 ,32 ,22 ,34 ,42 ,16 ,41 ,24 ,10 ,4 ,28 ,36 ,30 ,37 ,35 ,20 ,17 ,45 ,43 ,25 ,19])">Minimum Swaps</button>
</div>

<div style="background-color:orangered">
  <button (click)="minimumSwapsAlpha([1,3,5,2,4,6,7])">Minimum Swaps Alpha</button>
  <button (click)="minimumSwapsAlpha([4, 3, 1, 2])">Minimum Swaps Alpha</button>
  <button (click)="minimumSwapsAlpha([2, 3, 4, 1,5])">Minimum Swaps Alpha</button>
  <button (click)="minimumSwapsAlpha([7,1,3,2,4,5,6])">Minimum Swaps Alpha</button>
  <button (click)="minimumSwapsAlpha([2 ,31 ,1 ,38 ,29 ,5 ,44 ,6 ,12 ,18 ,39 ,9 ,48 ,49 ,13 ,11 ,7 ,27 ,14 ,33 ,50 ,21 ,46 ,23 ,15 ,26 ,8 ,47 ,40 ,3 ,32 ,22 ,34 ,42 ,16 ,41 ,24 ,10 ,4 ,28 ,36 ,30 ,37 ,35 ,20 ,17 ,45 ,43 ,25 ,19])">Minimum Swaps</button>
</div>

