<div style="background-color:purple">
  <button (click)="activityNotifications([10,20,30,40,50],3)">fraud notifications </button>
  <button (click)="activityNotifications([2,3,4,2,3,6,8,4,5],5)">fraud notifications </button>
  <button (click)="activityNotifications([1,2,3,4,4],4)">fraud notifications </button>

  <br>

  <button (click)="activityNotifications([1,4,1,2,7,5,2],4)">fraud notifications </button>
  <button (click)="activityNotificationsAlpha([1,4,1,2,7,5,2],4)">fraud notifications </button>
  <button (click)="activityNotificationsZeta([1,4,1,2,7,5,2],4)">fraud notifications </button>

  <br>

  <button (click)="activityNotifications([1,4,1,2,7,5,2],3)">fraud notifications </button>
  <button (click)="activityNotificationsAlpha([1,4,1,2,7,5,2],3)">fraud notifications </button>
  <button (click)="activityNotificationsZeta([1,4,1,2,7,5,2],3)">fraud notifications </button>


  <br>
  <button (click)="countsort([1,4,1,2,7,5,2],3)">fraud notifications </button>


</div>
